@tailwind base;
@tailwind components;
@tailwind utilities;

@import './colors/colors.scss'; 

body {
  font-size: 1rem;
  font-family: "Kumbh Sans", sans-serif;

  ::selection {
    color: white;
    background-color: $primary-color;
  }

  &::-webkit-scrollbar {
    width: 0.75rem;
  }
  &::-webkit-scrollbar-thumb {
    background: $primary-color;
    border: 2px solid rgba(0, 0, 0, 0);
  }
}

.container {
  @apply w-full min-h-screen md:w-4/5 m-auto;

  main {
    @apply flex flex-col sm:flex-row sm:justify-center 
    gap-4 sm:gap-8 md:gap-12 xl:gap-32
    sm:px-10 sm:py-16;
  }
}
