@import "./variables/colors/colors.scss";

// keyframes
@import "./common/keyframes.scss";

.container {
  height: 50px;
  border-radius: 0.6rem;
  background-color: $secondary-color-light;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: 1024px) {
    & {
      flex: 1;
    }
  }

  button {
    padding: 0 1rem;
    height: 100%;
    min-width: 45px;

    color: $primary-color;
    background-color: transparent;

    &:active img {
      transform: scale(1.2);
    }
  }

  .display {
    min-width: 80px;
    max-width: 100px;

    text-align: center;
    background-color: $secondary-color-light;
  }
}

.c_modal {
  @apply fixed right-0 left-0 top-0 z-50 
  pt-4
  h-full w-full
  md:inset-0;
  background-color: $dark-color;

  .modal {
    @apply relative px-4 max-w-2xl h-full md:h-auto 
    m-auto md:mt-20;
    animation: 0.5s slidein;

    .modal_content {
      @apply relative bg-white rounded-lg shadow dark:bg-gray-700;

      .modal_header {
        @apply flex justify-between items-start 
        p-5 
        rounded-t 
        border-b dark:border-gray-600;

        h3 {
          @apply text-xl font-semibold text-gray-900 lg:text-2xl dark:text-white;
        }

        button {
          @apply text-sm marker:text-gray-400 hover:text-gray-900 dark:hover:text-white
          bg-transparent hover:bg-gray-200 dark:hover:bg-gray-600
          rounded-lg p-1.5 ml-auto 
          inline-flex items-center;
        }
      }

      .modal_body {
        @apply p-6 space-y-6;

        p {
          @apply text-base leading-relaxed text-gray-500 dark:text-gray-400;
        }
      }

      .modal_footer {
        @apply flex items-center 
        p-6 space-x-2 rounded-b 
        border-t border-gray-200 dark:border-gray-600;

        button {
          padding: 0.5rem 1.25rem;
          flex: none;
          min-height: 25px;
        }
      }
    }
  }
}
