.c-description {
  @apply flex flex-col justify-center flex-1
  px-4 sm:px-0
  mb-12 sm:mb-0;
  max-width: 450px;
  min-width: 250px;

  &__brand,
  &__price,
  &__buttons {
    user-select: none;
  }

  &__brand {
    color: $primary-color;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: small;
    @apply xl:text-base;
  }

  h1 {
    font-weight: 700;
    @apply text-2xl md:text-3xl lg:text-5xl
    pt-2 pb-4 lg:pt-4 lg:pb-6;
  }

  > p {
    padding-bottom: 1.5rem;
    color: $secondary-color-dark;
  }

  &__price {
    @apply font-bold
    flex lg:flex-col justify-between items-center lg:items-start;
    padding-bottom: 2rem;

    &__with-discount {
      @apply flex items-center gap-2 lg:gap-4;

      :first-child {
        @apply text-2xl sm:text-xl lg:text-3xl;
      }

      :last-child {
        color: $primary-color;
        background-color: $primary-color-lighter;

        padding: 0 0.25rem;
        @apply text-base sm:text-sm lg:text-base
        rounded-md;
      }
    }

    &__without-discount {
      color: $secondary-color;
      text-decoration: line-through;
    }
  }

  &__buttons {
    font-weight: 700;
    @apply flex flex-col lg:flex-row gap-4;
  }
}
