footer {
  @apply absolute inset-x-0;
  background-color: $primary-color;
  
  ::selection {
    color: $primary-color !important;
    background-color: white !important;
  }

  > div {
    @apply flex justify-center
    p-4 md:p-6
    text-white;

    p {
      font-style: italic;

      a {
        font-weight: 700;
        font-style: normal;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
