@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --orange: hsl(26, 100%, 55%);
  --light-orange: hsl(25, 100%, 94%);
  --dark-blue: hsl(220, 13%, 13%);
  --dark-gray-blue: hsl(219, 9%, 45%);
  --gray-blue: hsl(220, 14%, 75%);
  --light-gray-blue: hsl(223, 64%, 98%);
  --bg-light-black: hsla(0, 0%, 0%, 0.75);
}

body {
  font-size: 1rem;
  font-family: "Kumbh Sans", sans-serif;

  ::selection {
    color: white;
    background-color: var(--orange);
  }
}

.page {
  @apply w-full md:w-4/5 m-auto;
  height: 100vh;

  main {
    display: flex;
    @apply flex-col sm:flex-row sm:justify-center gap-4 md:gap-12 lg:gap-20
    sm:px-10 sm:py-16;
  }
}


