.btn {
  min-height: 50px;
  border-radius: .6rem;

  color: white;
  font-weight: 700;

  background-color: var(--orange) !important;
  @apply focus:ring-4 focus:ring-orange-300;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex: 1;

  &:hover {
    background-color: var(--dark-orange) !important;
  }

  transition: all ease .2s;
}

.btn_add {
  @apply shadow-xl shadow-orange-400/50;

  @media (min-width: 1024px) {
    & {
      flex: 2;
    }
  }
}