.checkout {
  flex: 1;
  min-height: 50px;

  @apply flex items-center justify-center gap-4;

  color: white;
  background-color: var(--orange);
  font-weight: 700;

  @apply ring-0 focus:ring-4 focus:ring-orange-300 
  hover:bg-orange-500;

  border-radius: 0.60rem;
}