// keyframes
@keyframes slidein {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}

.count {
  height: 50px;
  border-radius: 0.6rem;
  background-color: var(--light-gray-blue);

  display: flex;
  align-items: center;

  //media querys - lg
  @media (min-width: 1024px) {
    & {
      flex: 1;
    }
  }

  button {
    @apply flex justify-center items-center flex-1;

    padding: 0 0.5rem;
    height: 100%;

    color: var(--orange);
    background-color: transparent;

    &:active img {
      transform: scale(1.2);
    }
  }

  .display {
    display: flex;
    justify-content: center;
    flex: 3;

    cursor: default;
  }
}

.l_modal {
  @apply fixed right-0 left-0 top-0 z-50 
  pt-4
  h-full w-full
  md:inset-0;
  background-color: var(--bg-light-black);

  .modal {
    @apply relative px-4 max-w-2xl h-full md:h-auto 
    m-auto md:mt-20;
    animation: 0.5s slidein;

    .modal_content {
      @apply relative bg-white rounded-lg shadow dark:bg-gray-700;

      .modal_header {
        @apply flex justify-between items-start 
        p-5 
        rounded-t 
        border-b dark:border-gray-600;

        h3 {
          @apply text-xl font-semibold text-gray-900 lg:text-2xl dark:text-white;
        }

        button {
          @apply text-sm marker:text-gray-400 hover:text-gray-900 dark:hover:text-white
          bg-transparent hover:bg-gray-200 dark:hover:bg-gray-600
          rounded-lg p-1.5 ml-auto 
          inline-flex items-center;
        }
      }
      
      .modal_body {
        @apply p-6 space-y-6;

        p {
          @apply text-base leading-relaxed text-gray-500 dark:text-gray-400;
        }
      }

      .modal_footer {
        @apply flex items-center 
        p-6 space-x-2 rounded-b 
        border-t border-gray-200 dark:border-gray-600;

        button {
          @apply focus:ring-4 rounded-lg 
          px-5 py-2.5
          font-medium text-sm;

          &.agree {
            background-color: var(--orange);
            @apply text-white text-center
            hover:bg-orange-600 
            focus:ring-orange-300
            dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-orange-800;
          }

          &.disagree {
            @apply text-gray-500 hover:text-gray-900 
            bg-white hover:bg-gray-100 
            focus:ring-gray-300
            border border-gray-200 px-5 py-2.5 focus:z-10 
            dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600;
          }
        }
      }
    }
  }
}
