.count {
  height: 50px;
  border-radius: 0.6rem;
  background-color: var(--light-gray-blue);

  display: flex;
  align-items: center;

  //media querys - lg
  @media (min-width: 1024px) {
    & {
      flex: 1;
    }
  }

  .btn-count {
    @apply flex justify-center items-center flex-1;

    padding: 0 0.5rem;
    height: 100%;

    color: var(--orange);
    background-color: transparent;

    &:active img {
      transform: scale(1.2);
    }
  }

  .display {
    display: flex;
    justify-content: center;
    flex: 3;

    cursor: default;
  }
}
