.container {
  @apply flex flex-col justify-center flex-1
  px-4 sm:px-0
  mb-12 sm:mb-0;
  max-width: 450px;
  min-width: 250px;

  .brand {
    color: var(--orange);
    letter-spacing: 2px;
    font-weight: 700;
    font-size: small;
    user-select: none;
    @apply xl:text-base;
  }
  h1 {
    font-weight: 700;
    @apply text-2xl md:text-3xl lg:text-5xl
    pt-2 pb-4 lg:pt-4 lg:pb-6;
  }
  p {
    font-size: 1rem;
    color: var(--dark-gray-blue);

    padding-bottom: 1.5rem;
  }
  .c_price {
    @apply font-bold
    flex lg:flex-col justify-between items-center lg:items-start;
    padding-bottom: 2rem;
    user-select: none;

    .c_with_discount {
      @apply flex items-center gap-2 lg:gap-4;

      .price {
        @apply text-2xl sm:text-xl lg:text-3xl;
      }

      .discount {
        color: var(--orange);
        background-color: var(--light-orange);

        padding: 0 0.25rem;
        @apply text-base sm:text-sm lg:text-base
        rounded-md;
      }
    }

    .no_discount {
      color: var(--gray-blue);
      text-decoration: line-through;
    }
  }

  .c_buttons {
    user-select: none;
    font-weight: 700;
    @apply flex flex-col lg:flex-row gap-4;
  }
}