footer {
  @apply absolute inset-x-0;
  background-color: var(--orange);
  user-select: none;

  .l_footer {
    @apply flex justify-center
    p-4 md:p-6
    text-white;
    
    .author {
      font-style: italic;

      a {
        font-weight: 700;
        font-style: normal;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}
