header {
  @apply flex items-center md:items-start justify-between
  px-8 md:px-0 md:pt-8 
  h-16 md:h-20 lg:h-auto;
  user-select: none;

  @media (min-width: 640px) {
    & {
      border-bottom: 1px solid var(--gray-blue);
    }
  }

  .navbar {
    display: flex;
    @apply gap-4 lg:gap-12;

    .logo {
      @apply order-2 lg:order-1;
    }

    nav {
      @apply order-1 lg:order-2;

      .bars_icon {
        @apply lg:hidden;
      }

      ul {
        gap: 2rem;
        @apply hidden lg:flex md:h-14;

        li {
          color: var(--dark-blue);
          transition: all 0.2s;
          &:hover {
            border-bottom: 3px solid var(--orange);
            font-weight: 700;
            cursor: pointer;
          }
        }
      }
    }
  }

  .personal {
    @apply flex items-center md:items-stretch gap-4 md:gap-8;

    .cart_icon {
      img {
        &:hover {
          cursor: pointer;
        }
      }
    }

    .profile {
      img {
        @apply h-6 md:h-12 md:-mt-4
        hover:cursor-pointer rounded-full;

        &:hover {
          border: 2px solid var(--orange);
        }
      }
    }
    .profile_active {
      img {
        @apply h-6 md:h-12 md:-mt-4
        hover:cursor-pointer rounded-full;
        border: 2px solid var(--orange);
      }
    }
  }

  .menuModal {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 50;
    width: 100vw;
    background-color: var(--bg-light-black);

    aside {
      display: flex;
      flex-direction: column;
      gap: 4rem;
      position: fixed;
      left: 0;
      top: 0;
      bottom: 0;
      padding: 2rem;
      background-color: white;
      width: 75%;
      max-width: 250px;

      // menu animations
      @keyframes Menu {
        from {
          margin-left: -400px;
        }
        to {
          margin-left: 0;
        }
      }

      &.comeMenu {
        animation: Menu .6s;
      }

      img {
        max-width: 1rem;
        &:hover {
          cursor: pointer;
        }
      }

      nav {
        ul {
          display: flex;
          flex-direction: column;
          gap: 1.5rem;
          
          li {
            color: var(--dark-blue);
            transition: all 0.2s;
            &:hover {
              border-bottom: 3px solid var(--orange);
              font-weight: 700;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
