.l_product {
  @apply flex flex-col flex-1 gap-2 md:gap-4 lg:gap-8 
  pb-4 sm:pb-0
  sm:max-w-lg;
  user-select: none;

  > img {
    @apply sm:rounded-2xl hover:cursor-pointer;
    min-width: 250px;
  }

  .product_images {
    @apply hidden sm:flex gap-2 md:gap-4 lg:gap-8;

    img {
      &.selected {
        opacity: 0.5;
        border: 2px solid var(--orange);
      }

      @apply rounded-xl;

      &:hover {
        opacity: 0.5;
        cursor: pointer;
      }
    }
  }
}

.l_modal {
  @apply hidden sm:block
  overflow-hidden 
  fixed right-0 left-0 top-0 z-50
  justify-center items-center
  h-full w-full
  md:inset-0;
  background-color: var(--bg-light-black);

  .l_product {
    @apply flex flex-col justify-center h-screen flex-1 gap-2 md:gap-4 lg:gap-8 
    pb-4 sm:pb-0
    sm:max-w-lg mx-auto;
  
    > img {
      @apply sm:rounded-2xl hover:cursor-pointer;
      min-width: 250px;
    }
  
    .product_images {
      @apply hidden sm:flex justify-around gap-2 md:gap-4 lg:gap-8;
  
      img {
        flex: 1;

        @apply rounded-xl;
  
        &:hover {
          opacity: 0.5;
          cursor: pointer;
        }
      }
    }
  }
}