.l_product {
  @apply flex flex-col flex-1 gap-2 md:gap-4 lg:gap-8 
  pb-4 sm:pb-0
  sm:max-w-lg;

  > img {
    @apply sm:rounded-2xl;
    min-width: 250px;
  }

  .product_images {
    @apply hidden sm:flex gap-2 md:gap-4 lg:gap-8;

    div.first {
      border: 2px solid var(--orange);
      @apply rounded-xl;
    }

    img {
      .select {
        opacity: 1;
      }
      @apply rounded-xl;

      &.first {
        opacity: 0.5;
      }

      &:hover {
        opacity: 0.5;
        cursor: pointer;
      }
    }
  }
}

.l_modal {
  @apply hidden 
  overflow-hidden 
  fixed right-0 left-0 top-0 z-50
  justify-center items-center
  h-full w-full
  bg-slate-800/80
  md:inset-0;
}