// keyframes
@keyframes slidein {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}

//estilos universais (nesse módulo)
.main_img {
  @apply sm:rounded-2xl hover:cursor-pointer;
  min-width: 250px;
}

.selected {
  opacity: 0.5;
  border: 2px solid var(--orange);
}

//layout
.container {
  @apply flex flex-col flex-1 gap-2 md:gap-4 lg:gap-8;
  max-width: 450px;
  user-select: none;

  .l_product_images {
    @apply hidden sm:flex gap-2 md:gap-4 lg:gap-8;
  
    img {
      @apply rounded-xl;
  
      &:hover {
        opacity: 0.5;
        cursor: pointer;
      }
    }
  }
}

.l_modal {
  @apply hidden sm:block
  overflow-hidden 
  fixed right-0 left-0 top-0 z-50
  justify-center items-center
  h-full w-full
  md:inset-0;
  background-color: var(--bg-light-black);

  .container_modal {
    animation: 1s slidein;
    @apply flex flex-col justify-center h-screen flex-1 
    gap-6
    mx-auto;
    max-width: 500px;

    .l_product_images_modal {
      @apply hidden sm:flex justify-center
      gap-6;
    
      img {
        max-width: 75px;
        @apply rounded-xl;
    
        &:hover {
          opacity: 0.5;
          cursor: pointer;
        }
      }
    }
  }
}
