$primary-color: hsl(26, 100%, 55%);
$primary-color-dark: hsl(26, 96%, 52%);
$primary-color-light: hsl(26, 98%, 60%);
$primary-color-lighter: hsl(25, 100%, 94%);

$secondary-color: hsl(220, 14%, 75%);
$secondary-color-dark: hsl(219, 9%, 45%);
$secondary-color-darker: hsl(220, 13%, 13%);
$secondary-color-light: hsl(223, 64%, 98%);

$dark-color: hsla(0, 0%, 0%, 0.75);