.c-cart {
  width: 100%;
  max-width: 300px;

  background-color: white;
  @apply absolute top-20 right-2 md:top-16 md:right-20
  shadow-xl rounded-xl;

  animation: 0.5s slidein;

  &__header {
    @apply p-5 border-b border-b-slate-300;
  }

  &__body {
    @apply flex flex-col gap-5 p-5;

    &__items {
      @apply flex flex-col gap-5;

      .withoutItems {
        @apply text-center py-12;
        font-weight: 700;
        color: $secondary-color-dark;
      }

      .item {
        color: $secondary-color-dark;
        @apply flex gap-4;

        img {
          max-width: 50px;
          max-height: 50px;
          border-radius: 0.3rem;
        }

        .info {
          @apply flex flex-col justify-between;
        }
      }
    }
  }
}
